---
---

// more space for russian translation
html[lang=ru] {
  // div,
  // span,
  // a,
  // h1, h2, h3, h4, h5, h6 {
  //   &:not([class^="icon-"]),
  //   &:not([class*="icon-"]),
  //   &:not([class="glyphicon"]),
  //   &:not([class="fa"]) {
  //     font-family: st, osr !important;
  //   }
  // }
  .intro-buttons {
    width: auto;
  }
}

.language-dropdown {
  font-family: st !important;
  .navbar-wrap & {
    display: none;
  }
  .navbar-header & {
    display: inline-block;
    margin-left: 5px;
  }
  .dropdown-toggle {
    background: none;
    border: none;
    border-color: #fff;
    font-size: 16px;
  }
  &.open .dropdown-toggle,
  .dropdown-toggle:hover,
  .dropdown-toggle:focus,
  .dropdown-toggle:active {
    background: none !important;
    outline: none;
    box-shadow: none;
  }
  .dropdown-menu {
    min-width: 100%;
    padding: 0;
    overflow: hidden;
    > li {
      &.active {
        > a {
          &,
          &:hover,
          &:focus {
            background-color: #E31041;
            color: #fff;
          }
        }
      }

      > a {
        padding: 6px 12px;
        font-size: 16px;
        color: #333;
      }
    }
  }
}

.sections-wrap {
  .section {
    &:not([class="content-white"]) {
      .content-title {
        a {
          color: #fff;
        }
      }
    }
    .content-title {
      a {
        text-decoration: none !important;
      }
    }
  }
  .content-magenta {
    a {
      color: #fff;
    }
  }
}

.related {
  text-align: center;
  &-posts {
    display: inline-block;
    list-style: none;
  }
}

.hero-bottom-row {
  width: 100%;
}

.intro-header {
  &._midblock {
    display: table;
    &:after {
      content: '';
      display: table-cell;
      vertical-align: middle;
      width: 0;
      height: 100%;
    }
    > div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
}

.logo-container-terms {
  margin: 0;
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  &.a-email,
  &:not([class]) {
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: #E01E40;
    }
  }
}

ul,
ol {
  &:not([class]) {
    padding-left: 20px;
  }
}

.video-button {
  display: inline-block;
  &:visited {
    color: #E01E40;
  }
}

.advantages,
.content-magenta {
  a {
    color: #fff;
    &:not([class]) {
      &:hover,
      &:focus,
      &:visited,
      &:active {
        color: #fff;
      }
    }
  }
}

.nav li {
  &.active {
    > a {
      background: none;
      border-bottom: 2px solid #E31041;
    }
  }
  > a {
    color: #fff;
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: #fff;
    }
  }
  .nav-item-button {
    border-bottom: none;
    &:hover,
    &:active,
    &:focus {
      background: #E31041;
      border-bottom: none;
    }
  }
}

.table {
  word-break: normal;
}
.table-body {
  .table {
    table-layout: fixed
  }
}

.terms {
  color: #3c3c3c;
  ul {
    padding-left: 25px;
  }
}
.form-group {
  &.has-error {
    .form-control {
      background-color: #fff0f0;
      border-color: #FF5E5E !important;
    }
  }
  .form-control {
    border: 2px solid transparent;
    border-bottom-color: #FF5E5E;
    transition: all .3s;
  }
}

.row {
  &.equal {
    flex-wrap: nowrap;
  }
}

.team {
  &-list {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .hero-bottom-row {
    .intro-buttons {
      position: static;
    }
  }
}

@media (max-width: 767px) {
  .intro-header {
    &._midblock {
      padding-top: 65px;
    }
  }
  .faq-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 640px) {
  .navbar-header {
    .language-dropdown {
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 639px) {
  .brand-link {
    display: inline-block;
    width: auto;
    padding-top: 0.45em;
  }
  .brand-logo {
    height: 18px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar-header {
    .language-dropdown {
      display: none;
    }
  }
  .navbar-wrap {
    text-align: right;
    .dropdown {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
    }
    .navbar-collapse.collapse {
      display: inline-block !important;
      vertical-align: middle;
    }
  }
  .team {
    &-list {
      font-size: 0;
      &__item {
        display: inline-block;
        vertical-align: top;
        float: none;
        font-size: 1rem;
      }
    }
    &-member {
      img {
        width: 100%;
      }
    }
  }
  .milestone-chart {
    [class^="col-"],
    [class*="col-"] {
      &:not(:last-of-type) {
        float: right;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .advantages {
    &-list {
      font-size: 0;
      &__item {
        display: inline-block;
        vertical-align: top;
        float: none;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-wrap {
    .navbar-collapse.collapse {
      margin-left: 15px;
    }
  }
  .cd-timeline-content {
    width: 72%;
    margin-right: 0;
    &:before {
      display: none;
    }
    &-wrap {
      position: relative;
      width: 50%;
      overflow: hidden;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        z-index: -1;
      }
      .cd-timeline-block:nth-of-type(odd) & {
        margin-left: 50%;
      }
    }
  }
}

@import "../ru_overrides";
