---
---

.hero-bottom-row {
  width: 100%;
}

.intro-header {
  &._midblock {
    display: table;
    &:after {
      content: '';
      display: table-cell;
      vertical-align: middle;
      width: 0;
      height: 100%;
    }
    > div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
}

.logo-container-terms {
  margin: 0;
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  &.a-email,
  &:not([class]) {
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: #E01E40;
    }
  }
}

ul,
ol {
  &:not([class]) {
    padding-left: 20px;
  }
}


.advantages,
.content-magenta {
  a {
    color: #fff;
    &:not([class]) {
      &:hover,
      &:focus,
      &:visited,
      &:active {
        color: #fff;
      }
    }
  }
}

.nav li {
  > a {
    color: #fff;
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: #fff;
    }
  }
  .nav-item-button {
    border-bottom: none;
    &:hover,
    &:active,
    &:focus {
      background: #E31041;
      border-bottom: none;
    }
  }
}

.table {
  word-break: normal;
}
.table-body {
  .table {
    table-layout: fixed
  }
}

.terms {
  color: #3c3c3c;
  ul {
    padding-left: 25px;
  }
}
.form-group {
  &.has-error {
    .form-control {
      background-color: #fff0f0;
      border-color: #FF5E5E !important;
    }
  }
  .form-control {
    border: 2px solid transparent;
    border-bottom-color: #FF5E5E;
    transition: all .3s;
  }
}

.row {
  &.equal {
    flex-wrap: nowrap;
  }
}

.team {
  &-list {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .hero-bottom-row {
    .intro-buttons {
      position: static;
    }
  }
}

@media (max-width: 767px) {
  .intro-header {
    &._midblock {
      padding-top: 65px;
    }
  }
  .faq-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .team {
    &-list {
      font-size: 0;
      &__item {
        display: inline-block;
        vertical-align: top;
        float: none;
        font-size: 1rem;
      }
    }
    &-member {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .advantages {
    &-list {
      font-size: 0;
      &__item {
        display: inline-block;
        vertical-align: top;
        float: none;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    width: 72%;
    margin-right: 0;
    &:before {
      display: none;
    }
    &-wrap {
      position: relative;
      width: 50%;
      overflow: hidden;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        z-index: -1;
      }
      .cd-timeline-block:nth-of-type(odd) & {
        margin-left: 50%;
      }
    }
  }
}
