#clock {
    color: #FFF;
    width: 100%;
}

.countdown {
    padding: 2em 0 2em 0;
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countdown > h1 {
    color: #FFF;
}