//main: main.scss

$ci_white: #FFF;
$ci_lgrey : #CCCCCC;
$ci_mgrey: #DEDEDE;
$ci_grey: #95989A;
$ci_dgrey: #3C3C3C;
$ci_dark: #212021;
$ci_lblue: #F5FBFF;
$ci_magenta: #E31041;
$ci_magentaalt: #E22D57;
