//main : main.scss

.container-fluid .row{
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.section{
  position: relative;
  padding: $gridSize*14+px $gridSize*12+px $gridSize*18+px $gridSize*12+px;
  &.container-fluid{
    padding: $gridSize*14+px $gridSize*12+15+px $gridSize*18+px $gridSize*12+15+px;
  }
  @media(max-width: 767px){
    padding: $gridSize*6+px $gridSize*4+px $gridSize*8+px $gridSize*4+px;
    &.container-fluid{
      padding: $gridSize*6+px $gridSize*4+15+px $gridSize*8+px $gridSize*4+15+px;
    }
  }

  &.section-small{
    padding: $gridSize*10+px $gridSize*12+px $gridSize*10+px $gridSize*12+px;
    &.container-fluid{
      padding: $gridSize*10+px $gridSize*12+15+px $gridSize*10+px $gridSize*12+15+px;
    }
    @media(max-width: 767px){
      padding: $gridSize*2+px $gridSize*2+px $gridSize*4+px $gridSize*2+px;
      &.container-fluid{
        padding: $gridSize*4+px $gridSize*2+15+px $gridSize*4+px $gridSize*2+15+px;
      }
      h3{
        text-align: center;
      }
    }
  }
}

.section-heading{
  max-width: 510px;
}

.section hr{
    margin: $gridSize*12+px 0;
}

.content-magenta {
    color: #FFF;
    background-color:#E01E40;
    a{
      color: #fff;
      text-decoration: underline !important;
      &:hover{
        color: #fff;
      }
    }
}

.content-black {
    color: #FFF;
    background-color:$ci_ddark;
}

.content-white {
    color: mgrey;
    h1,h2,h3{
      color: $ci_dgrey;
    }
    background-color:$ci_white;
}

.content-purple {
    color: #FFF;
    background-color:#321E36;
}

/*+++++++  HERO  +++++++++*/

#ico-app{
  position: relative;
  height: 100%;
}

.intro-header{
  height: 100vh;
  width: 100vw;
  padding: $gridSize*12+px $gridSize*12+px $gridSize*8+px $gridSize*12+px;
  @media(max-width: 767px){
    height: auto;
    width: 100%;
    padding: $gridSize*2+px $gridSize*2+px $gridSize*4+px $gridSize*2+px;
    &.container-fluid{
      padding: $gridSize*2+px $gridSize*2+15+px $gridSize*4+px $gridSize*2+15+px;
    }
  }
  @media(max-width: 1366px){
    .countdown-row{
      position: relative;
      margin-top: 50px;
    }
    .ico-subscribe{
      margin-top: 0px;
    }
    .digit{
      font-size: 3.2rem;
    }
  }
}

.hero-headline{
  width: 100%;
  padding: $gridSize*4+px;
  span{
    font-size: 1.4rem;
    line-height: 1.6;
    color: $ci_mgrey;
    font-family: osl;
    font-weight: 100;
  }
  @media(max-width: 767px){
    margin-top: 80px;
    padding: $gridSize*2+px;
  }
  @media(min-width: 768px){
    max-width: 550px;
    padding: 0;
    margin-top: $gridSize*6+px;
  }
}

@media(min-width: 1920px){
  .hero-headline{
    max-width: 1200px;
  }
  h1{
    font-size: 6.9rem;
  }
}

@media(min-width: 1920px){
  .container-fluid{
    width: 1400px;
  }
}

.countdown-row{
  position: absolute;
  width: 100%;
  bottom: 0;
  .text.timer{
    text-align: left;
    color: $ci_grey;
    margin-top: -24px;
  }
  @media(max-width: 767px){
    margin: 0 auto;
  }
}

.digit {
    font-size: 6.2rem;
    font-weight: 100;
    line-height: 1.4;
    color: $ci_magentaalt;
    margin-bottom: 0;
    padding: 10px 10px 10px 0px;
    @media(max-width: 960px){
      font-size: 3.4rem;
    }
    @media(max-width: 767px){
      font-size: 2.4rem;
    }
}

.timer-heading {
    padding: 0px;
    letter-spacing: 0.4;
    font-weight: 100;
    color: $ci_grey;
}

.ico-subscribe {
  margin-top: 11em;
  @media(max-width: 1024px){
    margin-top: 1em;
  }
}


/*+++++++  HOW TO  +++++++++*/

$elements: 6;
@for $i from 0 to $elements {
  .contribution-steps .banner-ico:nth-child(#{$i}) {
    &:before{
      content: ''+$i+'';
      display: block;
      position: absolute;
      height: 100%;
      padding-top: 20px;
      font-family: st;
      font-size: 1.2rem;
      color: $ci_white;
      width: 30px;
      vertical-align: middle;
      text-align: center;
      left: -30px;
    }
  }
}

.banner-ico {
    min-height: 100px;
    border-left: 30px solid #E01E40;
    p{
      padding-left: $gridSize+px;
    }
}

.banner-small .banner-chart{
  margin-bottom: $gridSize*2+px;
}

.banner-chart {
    font-family: st;
    margin-bottom: $gridSize*6+px;
}

.banner-ico-header {
    font-size: 1.5em;
    font-family: st;
}

.banner-ico-text {
    padding-right: 30px;
    font-size: 0.9rem;
    color: $ci_grey;
}


.banner-chart-header {
    padding-left: 30px;
    font-size: 1.5em;
    color: #FFF;
}

.banner-chart-text {
    padding-left: 30px;
    color: #FFF;
}

.pie-holder{
  margin: 0 auto;
  width: 78%;
  margin-top: -16%;
  &.pie-v-center{
    margin-top: 0%;
  }
}

/*+++++++  Nutzshell  +++++++++*/

.poker-cards{
  position: absolute;
  right: $gridSize*12+px;
  top: -10%;
  img{
    width: 380px;
    float: right;
  }
  @media(max-width: 767px){
    position: relative;
    right: 0;
    top: 10%;
    margin: $gridSize*2+px auto;
  }
}

/*+++++++  TWO TOKENS  +++++++++*/

.text-box-sub{
  font-size: 1.2rem;
  color: $ci_grey;
}

.nutz-heading, .abp-heading{
  padding-left: 72px;
  position: relative;
  margin-bottom: $gridSize*3+px;
  &:before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    left: 0;
    top: 7px;
    height: 64px;
    width: 80px;
  }
}

.nutz-heading{
  &:before{
    background-image: url(../img/icons/nutz@2x.png);
    top: 4px;
    height: 70px;
    width: 80px;
  }
}

.abp-heading{
  padding-left: 88px;
  &:before{
    background-image: url(../img/icons/abp@2x.png)
  }
}

/*+++++++  FACTS  +++++++++*/

.coin-divider{
  position: absolute;
  height: 120px;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  top: 0;
  margin-top: -60px;
  background-image: url(../img/icons/coins@2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @media(max-width: 767px){
    width: 200px;
    height: 80px;
    left: auto;
    margin: 0 auto;
    margin-top: -40px;
  }
}

.table-body{
  background: $ci_dark;
  padding: $gridSize*2+px;
  border: 1px solid #95989A;
  margin-top: $gridSize*4+px;
  margin-bottom: $gridSize*8+px;
}

table{
  border: none;
  word-break: break-all;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none;
  border-bottom: 1px solid #95989A;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding-top: 16px;
}

table tr td:nth-child(even){
  text-align: right;
}

.crowdsale-essentials{
  margin-top: -90px;
  @media(max-width: 767px){
    margin-top: 0px;
  }
}

@media(max-width:767px){
  [class*='col-'] {
    margin-bottom: $gridSize*6+px !important;
  }
  [class*='col-']:last-child {
    margin-bottom: 0px !important;
  }
  #facts{
    padding-top: $gridSize*12+px;
    h2{
      text-align: left;
    }
    .container-fluid{
      padding: 0px;
    }
  }
  #tokensystem{
    padding-bottom: $gridSize*12+px;
  }
  .ico-cta{
    margin-top: 0px;
  }
}

/*+++++++  ----  +++++++++*/

.escrow-image{
  position: absolute;
  right: -$gridSize*12+px;
  top: 5%;
  width: 650px;
  float: right;
}

@media(max-width: 767px){
  .escrow-image{
    position: relative;
    max-width: 100%;
    right: -$gridSize*4+px;
    margin-top: $gridSize*6+px;
  }
}

/*+++++++  ----  +++++++++*/

@media(min-width: 1023px){
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}


.progress-bar{
  background-color: $ci_magenta;
  background-image: url(../img/progress_stripe_wht.png);
  background-size: 20px 20px;
  background-repeat: repeat;
  background-position: 0px 0px;
}

.raised-param{
  font-size: 2.6rem;
  font-family: st;
  color: #FFFF00;
}

@include keyframes(blinking) {
  0%   { opacity: 0.0}
  100% { opacity: 1.0}
}

@include keyframes(progress) {
  0%   { background-position: 0px 0px}
  100% { background-position: 20px 0px}
}

.raised-param {
  @include animation('blinking 1.0s infinite alternate');
}

.progress-bar{
  @include animation('progress 1.0s infinite linear');
}

.progress{
  position: relative;
}

.milestone-soft{
  position: absolute;
  left: 16.66666666%;
  height: 40px;
  width: 2px;
  background-color: $ci_dark;
  top: -10px;
}

.progress-facts{
  .event-param{
    color: #fff;
  }
  color: #fff;
}

.countdown-row{
  .button-base{
    position: absolute;
    bottom: 0;
    width: 80%;
    right: 0;
    @media(max-width: 1023px){
      position: relative;
      width: 100%;
    }
  }
}

.milestones{
  position: relative;
  height: 20px;
}

.milestone-soft-cap{
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(16.66666666% - 5px);
  border-radius: 200px;
  @include transform(rotate(90deg));
  background-color: #FFFF00;
}

.milestone-hard-cap{
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(100% - 5px);
  border-radius: 200px;
  @include transform(rotate(90deg));
  background-color: #FFFF00;
}

.timer-heading-launch{
  font-size: 1.4rem;
  span{
    color: $ci_magenta;
  }
}
/*+++++++  ----  +++++++++
Subscribe Landing Page
+++++++  ----  +++++++++*/

.subscribe-section{
  &.section{
    padding: $gridSize*9+px $gridSize*12+px $gridSize*7+px $gridSize*12+px;
    @media(max-width: 767px){
      padding: $gridSize*6+px $gridSize*2+px $gridSize*6+px $gridSize*2+px;
      [class*='col-']:first-child {
        margin-bottom: 0px !important;
      }
    }
  }
  .submit-section{
    width: 240px;
  }
  .input-section{
    width: calc(100% - 256px);
    @media(max-width: 767px){
      width: 100%;
    }
  }
  .timer-heading{
    text-transform: none;
    font-size: 1.5rem;
    margin-bottom: -10px;
  }
  .digit{
    font-size: 2.2rem;
    padding-right: 0px;
    color: $ci_grey;
  }
  .timer.text{
    display: none;
  }
  .ico-subscribe{
    margin-top: 0;
  }
  .form-group .form-control{
    border-bottom: 3px solid $ci_dark;
  }
}

.partners-section{
  img{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 250px;
  }
  .section-heading{
    margin: 0 auto;
    margin-bottom: $gridSize*6+px;
  }
}
.ml-block-success{
  p{
    font-size: 1.8rem;
  }
}

#video iframe{
  display: block;
  margin: 0 auto;
  @media(min-width: 1440px){
    width: 720px;
    height: 405px;
  }
  @media(max-width: 767px){
    width: 100%;
    height: 157.5px;
  }
}

.mlEmailContainer{
  background: #fff;
  margin-top: 80px;
}

.video-button{
  display: block;
  margin-bottom: $gridSize*2+px;
  font-size: 1.6rem;
  &:before{
    content: "\f144";
    font-family: FontAwesome;
    padding-right: 10px;
  }
}


@media (min-width: 768px){
  .modal-dialog {
    width: 768px;
    color: #000;
  }
}

@media (min-width: 1024px){
  .modal-dialog {
    width: 1000px;
  }
}

.button-help{
  background: $ci_grey;
  border-radius: 200px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.2rem;
  margin-top: -12px;
  text-align: center;
  display: inline-block;
}

.modal-dialog{
  color: #000;
  p{
    display: block;
    margin-bottom: $gridSize*4+px;
  }
  [class*='col-']:first-child{
    border-right: 1px solid #ccc;
  }
  input.field{
    width: 100%;
    display: block;
    border: none;
    padding: 4px;
    border-bottom: 2px solid $ci_magenta;
  }
  input{
    margin-bottom: $gridSize*2+px;
  }
  a{
    text-decoration: underline !important;
  }
}

label.label-cbx{
  display: block;
  margin-bottom: $gridSize*2+px;
}
.modal-title{
  text-align: center;
}

.invest-option{
  padding: $gridSize*2+px;
}

.invest-add{
  display: none;
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: $ci_magenta;
}
.label-cbx input:checked + .checkbox svg path {
  fill: $ci_magenta;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: $ci_magenta;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}
