<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% I18n_Headers %}
  <meta name="author" content="">
  <meta property="og:url" content="http://www.acebusters.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Acebusters - Poker on the Ethereum Blockchain" />
  <meta property="og:description" content="Join Acebusters now! The decentralized economy to make online poker profitable, fair and secure. Poker on the Ethereum blockchain. Ace or bust!" />

  {% if page.image %}
    <meta property="og:image" content="http://www.acebusters.com/img/social/{{ page.image }}">
  {% else %}
    <meta property="og:image" content="http://www.acebusters.com/img/social/AB_facebook_OG_Crowdsale.png">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="&#64;ace_busters">
  <meta name="twitter:creator" content="&#64;ace_busters">
  <meta name="twitter:title" content="Acebusters - Poker on the Ethereum Blockchain">
  <meta name="twitter:description" content="Join Acebusters now! The decentralized economy to make online poker profitable, fair and secure. Poker on the Ethereum blockchain. Ace or bust!">
  <meta name="twitter:image" content="http://www.acebusters.com/img/social/AB_twitter_card@2x.png">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/ab_logo.png">

  {% seo %}

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fontello.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/landing-page.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7SBXCK');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-98848213-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>