{% assign data = site.data.whitepaperPopup %}

<div id="whitepaperLangChooser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{ data.chooseLang }}</h2>
      </div>
      <div class="modal-body container-fluid">
        <div class="row row-eq-height">
          <div class="col-sm-4">
            <a class="button-base button-full button-red" href="{{ site.baseUrl }}/files/acebusters_whitepaper.pdf">
              English
            </a>
          </div>
          <div class="col-sm-4">
            <a class="button-base button-full button-red" href="{{ site.baseUrl }}/files/acebusters_whitepaper_ru.pdf">
              русский
            </a>
          </div>
          <div class="col-sm-4">
            <a class="button-base button-full button-red" href="{{ site.baseUrl }}/files/acebusters_whitepaper_zh.pdf">
              中文
            </a>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-sm-4">
            <a class="button-base button-full button-red" href="{{ site.baseUrl }}/files/acebusters_whitepaper_kr.pdf">
              한국어
            </a>
          </div>
          <div class="col-sm-4">
            <a class="button-base button-full button-red" href="{{ site.baseUrl }}/files/acebusters_whitepaper_hi.pdf">
              हिंदी
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
