---
layout: default
title: Acebusters - Affiliate Program.
description: Acebusters - Earn yourself up to 5% of each investment with our referral program.
---

<div>

  <div class="intro-header landing-page section">
    <div class="container container-ace">
        <div class="row hero-bottom-row equal">
            <div class="col-md-7 hero-bottom">
                <h1>
                  Earn up to 5% for each referred investment made.
                </h1>
                <span>
                  In order to spread the word we're offering an affiliate program so that everyone can help make online poker more profitable, fair and secure.
                </span>
            </div>
            <div class="col-md-5">
                <div class="intro-buttons">
                    <a class="button-base" href="https://discordapp.com/invite/7PesDTZ" target="_blank">
                        Ask a Question
                    </a>
                    <a class="button-base" href="https://acebusters.typeform.com/to/VFN5n6" target="_blank">
                        Become an Affiliate
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="content-white section">
    <div class="container-fluid">
      <div class="row section-heading">
        <h2>The media kit. <span>All the assets you'll need to spread the word.</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a class="button-base" href="files/AB_OnePager.pdf">Download the Acebusters OnePager</a>
        </div>
        <div class="col-sm-4">
          <a class="button-base" href="files/Acebusters_MediaKit.zip">Download the full Media Kit</a>
        </div>
        <div class="col-sm-4">
          <a class="button-base" href="files/acebusters_whitepaper.pdf">Download our Whitepaper</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-magenta section section-small" id="affiliateform">
    <div class="container-fluid">
      <div class="row section-heading">
        <h2>Become An Affiliate<span>Fill out the details below to receive your referral code.</span></h2>
        <p style="margin-top:16px;">
          We will review your application ASAP and send a referral code via the email address you supply in the form.
        </p>
      </div>
      <div class="row">
        <div class="typeform-widget" data-url="https://acebusters.typeform.com/to/VFN5n6" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=VFN5n6&amp;utm_source=typeform.com-10153203-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
      </div>
    </div>
  </div>



</div>
