---
layout: default
title: Acebusters - Affiliate Program.
description: Acebusters - Earn yourself up to 5% of each investment with our referral program.
---

<div>

  <div class="intro-header landing-page section">
    <div class="container container-ace">
        <div class="row hero-bottom-row equal">
            <div class="col-md-7 hero-bottom">
                <h1>
                  Зарабатывайте до 5% за каждого приведенного инвестора.
                </h1>
                <span>
                  Мы предлагаем партнерскую программу, чтобы привлечь аудиторию и помочь сделать онлайн покер более прибыльным, честным и безопасным.
                </span>
            </div>
            <div class="col-md-5">
                <div class="intro-buttons">
                    <a class="button-base" href="https://discordapp.com/invite/7PesDTZ" target="_blank">
                        Задать вопрос
                    </a>
                    <a class="button-base" href="#affiliateform">
                        Стать партнером
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="content-white section">
    <div class="container-fluid">
      <div class="row section-heading">
        <h2>Материалы.<span>Все, что вам нужно.</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a class="button-base" href="files/AB_OnePager.pdf">&laquo;Об Acebusters на одной странице&raquo;</a>
        </div>
        <div class="col-sm-4">
          <a class="button-base" href="files/Acebusters_MediaKit.zip">Скачать весь набор</a>
        </div>
        <div class="col-sm-4">
          <a class="button-base" href="files/acebusters_whitepaper.pdf">Скачать Whitepaper</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-magenta section section-small" id="affiliateform">
    <div class="container-fluid">
      <div class="row section-heading">
        <h2>Станьте партнером<span>Заполните форму ниже, чтобы получить ваш реферальный код.</span></h2>
        <p style="margin-top:16px;">
          Мы рассмотрим вашу заявку как можно быстрее и вышлем ваш реферальный код на указанный вами электронный адрес.
        </p>
      </div>
      <div class="row">
        <div class="typeform-widget" data-url="https://acebusters.typeform.com/to/VFN5n6" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=VFN5n6&amp;utm_source=typeform.com-10153203-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
      </div>
    </div>
  </div>



</div>
