---
css: blog
layout: default
title: Acebusters - Blog
description: Acebusters - Earn yourself some Nutz with bug reporting, translations, community management or with our referral program.
---

{% assign buttons = site.data.buttons %}

<div class="container blog blog-item-list">
    {% assign sorted_posts = site.categories['blog'] | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
        <div class="blog-item">
          <h3 class="blog-item__title"><a href="{{ site.baseUrl}}{{ post.url }}">{{ post.title }}</a></h3>
          <div class="blog-item__date">Published {{ post.date | timeago }}</div>
          <div class="blog-item__time-to-read"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ content | reading_time_as_i }} read</div>
        </div>
    {% endfor %}
</div>
