---
layout: default
---

<div class="container blog blog-post">
  <h2 class="blog-post__title">{{ page.title }}</h2>
  <div class="blog-post__meta">
    <div class="blog-post__date">Published {{ page.date | timeago }}</div>
    <div class="blog-post__time-to-read"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ content | reading_time_as_i }} read</div>
  </div>

  <div class="blog-post__content">
    {{ content }}

    <div class="likely likely-light">
      <div class="twitter">Tweet</div>
      <div class="facebook">Share</div>
      <div class="vkontakte">Share</div>
      <div class="telegram">Send</div>
    </div>

  </div>
</div>
