---
layout: default
---
<div>


    <div class="intro-header landing-page section">
      <div class="container container-ace">
          <div class="row hero-bottom-row equal">
              <div class="col-md-7 hero-bottom">
                  <h1>
                    Earn yourself some Nutz!
                  </h1>
                  <span>
                    There are 15 000 000 NTZ tokens provided for
Acebusters Bounty Program
The sale price for NTZ token: 30 000 NTZ = 1 ETH
                  </span>
              </div>
              <div class="col-md-5">
                  <div class="intro-buttons">
                      <a class="button-base" href="files/The Acebusters Economy.pdf" target="_blank">
                          Ask A Question
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Bug Bounty
                        <span>200 ETH</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Making submissions</h3>
                      <p>
                        In order to qualify, your patch must first be submitted directly to the github repositories of the acebusters organization, and you must work with us to have it accepted into the repository without reverts for one month. After these prerequisites are met, please submit via our form here.
                      </p>
                      <p>
                        We ask you to respect the time of your fellow volunteers, and strictly adhere to the coding, testing, and submission standards employed for each project. For the reasons explained in the FAQ, submissions made before the patch has been accepted without reverts for one month will not be considered for rewards.

                      </p>
                      When notifying us, please include links to all the relevant code locations and diffs. Be sure to explain the project-specific benefits offered by the patch.

                      <h3 style="margin-top: 56px;">Reward amounts</h3>
                      <p>
                        Rewards for qualifying submissions range from 0.5 ETH to 50 ETH. The final amount is always chosen at the discretion of the reward panel and is based on our judgment of the complexity and impact of the patch. The usual reward amounts are:
                      </p>
                      <p>
                        <b>Up to 50 ETH</b> for ideal integration with OSS-Fuzz defined here.<br />
<b>25 ETH</b> for complicated, high-impact improvements that almost certainly prevent major vulnerabilities in the affected code.<br />
<b>10 ETH</b> for moderately complex patches that offer compelling security benefits.<br />
<b>5 ETH </b>for submissions of modest complexity, or for ones that offer fairly speculative gains.<br />
<b>0.5 ETH</b> "one-liner special" for trivial improvements that nevertheless have a merit from the security standpoint.
                      </p>



                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-black section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Translation Bounty
                        <span>100 ETH</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Translations</h3>
                      <p>
                        Earn bounty stakes for quality translation. Please contact us to confirm and reserve your translation. Please add your previous translations (ANN thread, white paper, etc) as a proof of experience.
                      </p>
                      <p>
                        Important requirements and facts:<br />
- The translation must be of a high quality - using google translate is strictly prohibited.<br />
- The translation should be easily understood by anyone, not too technical or too literal.<br />
- Previous experience with ICO project translations is required.<br />
- All the translations will be reviewed by professional proofreaders.<br />
- Acebusters Team will decide if the translation is a high or low quality.<br />
- Acebusters leaves the right not to distribute bounties to translators for low-quality translations.
                      </p>
                      <p>

                        Material for Transaction:<br />
- White Paper (10 ETH)<br />
- Bitcointalk ANN (with new thread in Local community) (5 ETH).
                      </p>

                      <p>
                        Needed Translations:<br />
- Russian<br />
- Chinese<br />
- French<br />
- Korean<br />
                      </p>

                      <h3 style="margin-top: 56px;">Local Community management</h3>
                      <p>
                        Local Community management consists of support while answering questions in translated ANN thread till the end of the ICO. There will be a private slack channel (in acebusters.slack.com) for local community managers where we help you to answer question from your local community.
                      </p>
                      <p>

  Get a share of the bounty for every question answered in your thread.
                      </p>
                      <p>
                        There will be a Bounty manager that will check every post. If we notice any spam activity, local community managers will be banned from bounty campaign together with all the earned stakes.

                      </p>
                      <p>
                        Bounty will be divided among the participants proportionally to the amount of their questions answered.

                      </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Influencer/ Ambassador
                        <span>200 ETH</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Translations</h3>
                      <p>
                        As an influencer or ambassador, we can generate referral codes for your account.
                      </p>
                      <p>
When investors sign up with your referral code, their investment will increase your share in the bounty.
</p>
<p>
The 200 ETH will be distributed proportionally to the total size of investment each ambassador attracted.

                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
