---
layout: default
title: Acebusters - Bounties
description: Acebusters - Earn yourself some Nutz with bug reporting, translations, community management or with our referral program.
image: AB_facebook_bounties.jpg
---
<div>


    <div class="intro-header landing-page section">
      <div class="container container-ace">
          <div class="row hero-bottom-row equal">
              <div class="col-md-7 hero-bottom">
                  <h1>
                    Earn yourself some Nutz!
                  </h1>
                  <span>
                    There are 15,000,000 NTZ (500 ETH) allocated for the Acebusters bounty program.<br />
                    The sale price for NTZ token will be: 30,000 NTZ = 1 ETH
                  </span>
              </div>
              <div class="col-md-5">
                  <div class="intro-buttons">
                      <a class="button-base" href="https://discordapp.com/invite/7PesDTZ" target="_blank">
                          Ask a Question
                      </a>
                      <a class="button-base" href="https://acebusters.typeform.com/to/VFN5n6" target="_blank">
                          Become an Affiliate
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Affiliate Bounty
                        <span>6,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Grow the Acebusters community and earn the bounty!</h3>
                      <p>We are looking for the best channels (blogs, websites, etc.) to join our affiliate program. As a member of the program, you can receive up to 5% of your referred investment.</p>

                      <p>
                        <ol>
                          <li>Become an affiliate, <a href="https://acebusters.typeform.com/to/VFN5n6" target="_blank">get the promo code</a>.</li>
                          <li>Share the promo code with friends/followers.</li>
                          <li>Earn NTZ for signups and investments!</li>
                        </ol>
                      </p>
                      <p>
                        After you join our affiliate program, you will be given a unique promo code which you can directly share with your friends. It can be entered manually when they create their accounts or you can share your custom link on social media or embed it on your web pages.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-black section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Translation Bounty
                        <span>3,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Translations</h3>
                      <p>
                        Earn bounties for qualified translations. Please <a href="https://goo.gl/forms/EuFf09k9KJGijlaA3" target="_blank">contact us</a> to confirm and reserve your translation. Please add your previous translations (announcement, whitepaper, etc) as a proof of experience.
                      </p>
                      <p>
                        Important requirements and facts:<br />
                        <ul>
                          <li>The translation must be of a high quality - using google translate is strictly prohibited.</li>
                          <li>The translation should be easily understood by anyone, not too technical or too literal.</li>
                          <li>Previous experience with crowdsale project translations is required.</li>
                          <li>All the translations will be reviewed by professional proofreaders.</li>
                          <li>The Acebusters team will decide if the translation is a high or low quality.</li>
                          <li>Acebusters leaves the right not to distribute bounties to translators for low-quality translations.</li>
                        </ul>
                      </p>
                      <p>
                        Material for translation:<br />
                        <ul>
                          <li>Whitepaper (300,000 NTZ each)</li>
                          <li>Bitcointalk ANN (with new thread in local community) (75,000 NTZ each)</li>
                        </ul>
                      </p>

                      <p>
                        Needed translations:<br />
                        <ul>
                          <li>Chinese</li>
                          <li>Russian</li>
                          <li>Indonesian</li>
                          <li>Spanish</li>
                          <li>Korean</li>
                        </ul>
                      </p>

                      <h3 style="margin-top: 56px;">Local Community management</h3>
                      <p>
                        Local community management consists of support while answering questions in translated announcement till the end of the crowdsale. There will be a <a href="https://discordapp.com/invite/7PesDTZ" target="_blank">private discord channel</a> for local community managers where we help you to answer questions from your local community.
                      </p>
                      <p>
                        Get a share of the bounty for every question answered in your thread. There will be a bounty manager that will check every post. If we notice any spam activity, local community managers will be banned from bounty campaign together with all the earned stakes.
                      </p>
                      <p>
                        For community management, 750,000 NTZ of the bounty will be divided among the participants proportionally to the amount of their questions answered.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Bug Bounty
                        <span>6,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Making submissions</h3>
                      <p>
                        With the bug bounty program we want to permit independent researchers to discover and report issues that affect the security, integrity and/or availability of users’ funds in our Dapp and rewards them for being the first to discover a bug.
                      </p>
                      <p>
                        In order to qualify for the bounty, please send us your bug description and potential patch directly to our <a href="https://github.com/acebusters/bounty" target="_blank">Github repository</a>. You must work with us to have it accepted into the repository without reverts for one month. After these prerequisites are met, please submit your claim for the bounty via our <a href="https://goo.gl/forms/vTcIG80BmGYaKoJ53" target="_blank">claim form</a>.

                      </p>
                      <p>
                        We ask you to respect the time of your fellow volunteers, and strictly adhere to the coding, testing, and submission standards employed for our project. When notifying us, please include links to all relevant code locations and diffs. Be sure to explain the project-specific benefits offered by the patch.
                      </p>

                      <h3 style="margin-top: 56px;">Reward amounts</h3>
                      <p>
                        Rewards for qualifying submissions range from 15,000 NTZ to 1,500,000 NTZ. The final amount is always chosen at the discretion of the Acebusters team and is based on our judgment of the complexity and impact of the patch. The usual reward amounts are:
                      </p>
                      <ul>
                        <li><b>Up to 1,500,000 NTZ</b> for complicated, high-impact improvements that almost certainly prevent major vulnerabilities in the affected code.</li>
                        <li><b>750,000 NTZ</b> for moderately complex patches that offer compelling security benefits. </li>
                        <li><b>300,000 NTZ</b> for submissions of modest complexity or for ones that offer fairly speculative gains.</li>
                        <li><b>15,000 NTZ</b> "one-liner special" for trivial improvements that nevertheless have a merit from the security standpoint. </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-purple section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Bounty Program Terms
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <ul>
                        <li>The bounty will be distributed only in the case that the crowdsale collects the minimum amount (5,000 ETH).</li>
                        <li>The reward will be distributed starting from the 9th day to the 36th day after the close of the crowdsale.</li>
                        <li>The reward will be distributed in NTZ.</li>
                        <li>The receiver of the reward will be able to sell the received NTZ immediately to receive ETH, or to power-up NTZ to hold ABP.</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
