---
layout: default
title: Acebusters - Bounties
description: Acebusters - Earn yourself some Nutz with bug reporting, translations, community management or with our referral program.
image: AB_facebook_bounties.jpg
lang: ru
---
<div>


    <div class="intro-header landing-page section">
      <div class="container container-ace">
          <div class="row hero-bottom-row equal">
              <div class="col-md-7 hero-bottom">
                  <h1>
                    Earn yourself some Nutz!
                  </h1>
                  <span>
                  На бонусную программу Acebusters выделено 15 миллионов NTZ (500 ETH).<br />
                    Цена покупки NTZ будет следующая: 30,000 NTZ = 1 ETH>
                  </span>
              </div>
              <div class="col-md-5">
                  <div class="intro-buttons">
                      <a class="button-base" href="https://discordapp.com/invite/7PesDTZ" target="_blank">
                          Задавайте вопросы
                      </a>
                      <a class="button-base" href="https://goo.gl/forms/sSOCyJTZVBzuVJGD2" target="_blank">
                          Становитесь партнером
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Бонусы для партнеров
                        <span>6,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Развивайте сообщество Acebusters и получайте бонусы!</h3>
                      <p>Мы ищем лучшие маркетинговые каналы (блоги, сайты и т.д.) для нашей партнерской программы. Получайте до 5% от инвестиций людей, которых вы привели.</p>

                      <p>
                        <ol>
                          <li>Станьте нашим партнером, <a href="https://goo.gl/forms/sSOCyJTZVBzuVJGD2" target="_blank">получите ваш промокод</a>.</li>
                          <li>Делитесь вашим промокодом с друзьями и подписчиками.</li>
                          <li>Получайте NTZ за регистрации и инвестиции!</li>
                        </ol>
                      </p>
                      <p>
                        Став нашим партером, вы получите уникальный промокод, которым вы сможете напрямую делиться с друзьями. Промокод можно ввести вручную при регистрации, а также вы можете делиться своей персональной ссылкой в соц. сетях и на своих сайтах.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-black section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Бонусы за переводы
                        <span>3,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Переводы на другие языки</h3>
                      <p>
                        Зарабатывайте бонусы за переводы на требуемые языки. Пожалуйста <a href="https://goo.gl/forms/EuFf09k9KJGijlaA3" target="_blank">свяжитесь с нами</a> для подтверждения и брони вашего участия. Укажите ваши предыдущие переводы (аноносы, whitepapers и т.д.) в качестве доказательства вашего опыта.
                      </p>
                      <p>
                        Важные требования:<br />
                        <ul>
                          <li>Перевод должен быть качественным — использование Google Translate не допускается.</li>
                          <li>Перевод должен быть легким для понимания — не слишком техническим и дословным.</li>
                          <li>Обязателен опыт участия в переводах краудсейл-кампаний.</li>
                          <li>Все перевод будут вычитаны профессиональными переводчиками.</li>
                          <li>Качество перевода оценивается командой Acebusters.</li>
                          <li>Команда Acebusters оставляет за собой право не выдавать бонусы за некачественные переводы.</l
                        </ul>
                      </p>
                      <p>
                        Что подлежит переводу:<br />
                        <ul>
                          <li>Whitepaper (300,000 NTZ за перевод)</li>
                          <li>Анонс на Bitcointalk (ANN) в соответствующем языковом подфоруме (75,000 NTZ за перевод)</li>
                        </ul>
                      </p>

                      <p>
                        Языки для перевода:<br />
                        <ul>
                          <li>Китайский</li>
                          <li>Русский</li>
                          <li>Индонезийский</li>
                          <li>Испанский</li>
                          <li>Корейский</li>
                        </ul>
                      </p>

                      <h3 style="margin-top: 56px;">Работа с местными сообществами</h3>
                      <p>
                        Поддерживайте тему на форуме и отвечайте на вопросы в теме в течение всей краудсейл-кампании. Мы будем помогать вам с ответами в <a href="https://discordapp.com/invite/7PesDTZ" target="_blank">приватном канале в Discord</a>.
                      </p>
                      <p>
                         Получайте бонусы за каждый отвеченный вопрос в своей теме на форуме. Посты будут проверяться баунти-менеджером. В случае обнаружения спама вы исключаетесь из бонусной прогарммы, и заработанные бонусы не выплачиваются.
                      </p>
                      <p>
                        За работу с сообществами выделяется бонусов на 750,000 NTZ. Сумма будет разделена между участниками пропорционально количеству отвеченных вопросов.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-magenta section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Бонусы за найденные ошибки
                        <span>6,000,000 NTZ</span>
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <h3>Отправка отчетов об ошибках</h3>
                      <p>
                        С помощью этой кампании мы хотим простимулировать независимых участников к поиску и сообщению об ошибках, затрагивающих безопасность, целостность и/или доступность средств пользователей в нашем приложении. Будьте первым, кто нашел ошибку, и получите вознаграждение.
                      </p>
                      <p>
                        Для участия в бонусной программе, отправьте нам описание ошибки и потенциальное исправление напряму в наш
                        <a href="https://github.com/acebusters/bounty" target="_blank">Github репозиторий</a>. Также вы должны работать сообща с нами в течении месяца, чтобы ваше исправление было включено в репозиторий. Если эти условия выполнены, пожалуйста обратитесь к нам через <a href="https://goo.gl/forms/vTcIG80BmGYaKoJ53" target="_blank">форму</a> для получения своего бонуса.

                      </p>
                      <p>
                        Мы просим вас уважать время ваших коллег и строго придерживаться стандартов кодирования, тестирования и отправки репортов, принятых в нашем проекте. В своих репортах указывайте, пожалуйста, ссылки на релевантные куски кода и патчи. Постарайтесь объяснить, какую пользу принесет предлагаем патч для проекта.
                      </p>

                      <h3 style="margin-top: 56px;">Reward amounts</h3>
                      <p>
                        Подходящие баг-репорты вознаграждаются в размере от 15,000 до 1,500,000 NTZ. Конечная сумма всегда определяется на усмотрение команды Acebusters и основывается на нашей оценке сложности патча и степени его влияния на проект. Примерные суммы вознаграждения:
                      </p>
                      <ul>
                        <li><b>До 1,500,000 NTZ</b> за сложные исправления, значительно влияющие на систему и предотвращающие серьезные уязвимости.</li>
                        <li><b>750,000 NTZ</b> за патчи средней сложности, замтено улучшающие безопасность.</li>
                        <li><b>300,000 NTZ</b> за несложные патчи или за патчи, приносящие неоднозначную пользу проекту.</li>
                        <li><b>15,000 NTZ</b> мелкие однострочные правки, которые, тем не менее, имеют значение в точки зрения безопасности</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-purple section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2 section-heading>
                        Условия бонусной программы
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="section-content">
                      <ul>
                        <li>Бонусы будут распределены только в случае, если краудсейл-кампания соберет минимальную сумму (5,000 ETH).</li>
                        <li>Бонусы будут распределены с 9ого по 36ой день после окончания краудсейл-кампании.</li>
                        <li>Бонусы выдаются в NTZ.</li>
                        <li>Получатель бонуса может сразу же продать NTZ за ETH или обменять NTZ на ABP.</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
