---
layout: default
title: Acebusters - Crowdsale starting September 21st.
description: Join the Acebusters crowdsale now! The decentralized economy to make online poker profitable, fair and secure. Poker on the Ethereum blockchain. Ace or bust!
---

{% assign data = site.data.crowdsale %}
{% assign buttons = site.data.buttons %}

<div>
    <div class="intro-header section">
        <div class="container container-ace" id="ico-app">
                <div class="row hero-headline hero-headline-landin">
                    <h1>{{ data.banner.title }}</h1>
                    <span>{{ data.banner.subtitle }}</span>
                </div>
                <div class="row countdown-row">

                    <div class="col-md-7 no-padding">

                      <div>
                          <timer-pre-launch/>
                      </div>
                      <div>
                          <timer-post-launch/>
                      </div>

                        <div>
                            <loading-bar/>
                        </div>


                    </div>

                    <div class="col-md-6 no-padding">
                        <div id="mlb2-3873850" class="ml-subscribe-form ml-subscribe-form-3873850  ico-subscribe">
                            <div class="ml-vertical-align-center">
                                <div class="subscribe-form ml-block-success" style="display:none;">
                                    <div class="form-section mb0">
                                        <div style="text-align:center;padding: 20px; font-size:4em;">
                                            <i class="fa fa-check fa-4" style="text-align:center;"></i>
                                            <p>{{ site.data.messages.signUp }}</p>
                                        </div>
                                    </div>
                                </div>
                                <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/h6z7g3" data-id="257102" data-code="h6z7g3" method="POST" target="_blank" data-toggle="validator">
                                    <div class="subscribe-form">
                                        <div class="form-section input-section">
                                            <div class="form-group sign-up ml-field-email ml-validate-required ml-validate-email">
                                                <input type="email" name="fields[email]" class="newsletter-input form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$" placeholder="{{ site.data.inputs.emailPl }}" value="" id="eMail" required>
                                            </div>
                                        </div>
                                        <div class="form-section submit-section">
                                            <button type="submit" class="button-base" id="sign-up">
                                                {{ buttons.getNotified }}
                                            </button>
                                            <button disabled="disabled" style="display: none;" type="button" class="loading btn-sign-up">
                                                <img src="//static.mailerlite.com/images/rolling.gif" width="20" height="20" style="width: 20px; height: 20px;">
                                            </button>
                                        </div>
                                        <div class="clearfix" style="clear: both;"></div>
                                        <input type="hidden" name="ml-submit" value="1" />
                                    </div>
                                </form>
                                <script>
                                    function ml_webform_success_3873850() {
                                      jQuery('.ml-subscribe-form-3873850 .ml-block-success').show();
                                      jQuery('.ml-subscribe-form-3873850 .ml-block-form').hide();
                                      dataLayer.push({ 'event': 'subscription_success' });
                                    };
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="content-white section">
      <div class="container-fluid">
        <div class="row section-heading">
            <div class="col-sm-12 no-padding">
                <h2 class="how-to-contribute">{{ data.contribute.title }}</h2>
            </div>
        </div>
        <div class="row section-content contribution-steps equal">
            {% for step in data.contribute.steps %}
                <div class="{{ step.class }} banner-ico">
                    <p class="banner-ico-header">{{ step.title }}</p>
                    <p class="banner-ico-text">{{ step.description }}</p>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="content-magenta section">
      <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-5 no-padding">
              <div class="section-heading">
                <h2 class="intro-message-2">
                    {{ data.infoSection.title }}
                </h2>
              </div>
              <div class="section-content">
                  {{ data.infoSection.description }}
              </div>
            </div>
            <div class="col-sm-7 no-padding poker-cards poker-cards-description">
              <img src="{{ site.baseUrl }}/img/{{ data.infoSection.img }}" />
            </div>
        </div>
      </div>
    </div>

    <div class="content-purple section" id="tokensystem">
      <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-6 no-padding">
              <div class="section-heading">
                <h2 class="intro-message-2">
                    {{ data.doubleToken.title }}
                </h2>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2 no-padding">
                <div class="text-box">
                    <h3 class="text-box-heading">
                        {{ data.doubleToken.why.title }}
                    </h3>
                    <p class="text-box-message">
                        {{ data.doubleToken.why.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-box-row">
            {% for item in data.doubleToken.infoList %}
                <div class="{{ item.class }} no-padding">
                    <div class="text-box">
                        <div class="text-box-heading {{ item.icon }}">
                            <h3>
                                {{ item.title }}
                            </h3>
                            <p class="text-box-sub">
                                {{ item.subtitle }}
                            </p>
                        </div>
                        <div class="text-box-message">
                            {{ item.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="content-black section" id="facts">
      <div class="coin-divider"></div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 no-padding">
                <div class=" section-heading section-heading-right">
                <h2 class="intro-message-2 table-headliner">
                    {{ data.tokenDetails.title }}
                </h2>
                </div>
            </div>
            {% for item in data.tokenDetails.tables %}
                <div class="{{ item.class }}">
                    <div class=" table-container">
                    <h3>
                        {{ item.title }}
                    </h3>
                    <div class="table-body">
                        <table class="table ico-table">
                            {% for table in item.table %}
                                <tr>
                                    <td>{{ table.title }}:</td>
                                    <td>{{ table.description }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="content-magenta section">
      <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-5 no-padding section-heading">
              <h2>
                {{ data.roadmap.title }}
              </h2>
            </div>
            <div class="col-sm-5 col-sm-offset-2 section-content">
                {{ data.roadmap.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="timeline">
                    {% for item in data.roadmap.list %}
                        <li class="li complete">
                            <div class="timestamp">
                            <span class="milestone-horizontal">{{ item.point }}</span>
                            </div>
                            <div class="status">
                                <span>{{ item.title }}</span>
                                <p>{{ item.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="content-purple section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 no-padding">
            <div class="section-heading">
              <h2 class="intro-message-2">
                  {{ data.protecting.title }}
              </h2>
            </div>
            <div class="section-content">
                {{ data.protecting.description }}
            </div>
          </div>
          <img src="{{ site.baseUrl }}/img/{{ data.protecting.img }}" class="escrow-image" />
        </div>
      </div>
    </div>

    <div class="content-black section" id="distro-app">
      <div class="container-fluid">
        <div class="row margin-48">
          <div class="col-sm-5 no-padding">
            <div class="section-heading">
              <h2>
                  {{ data.charts.title }}
              </h2>
            </div>
          </div>
        </div>
        <div class="row margin-48">
            <div class="milestone-chart">
                {% for elem in data.charts.milestone.info %}
                    {% assign col = forloop.index0 %}
                    {% assign last = forloop.last %}
                    <div class="col-sm-4">
                        {% if elem.item.type == 'chart' %}
                            <div class="pie-holder">
                                <chart-pie
                                    data-label="{{ data.charts.milestone.label }}"
                                    data-colors="{{ data.charts.milestone.data.colors | array_to_sentence_string }}"
                                    data-bgc="{{ data.charts.milestone.data.bgc | array_to_sentence_string }}"
                                    data-values="{{ data.charts.milestone.data.values | array_to_sentence_string }}"/>
                            </div>
                        {% else %}
                            {% for item in elem.item %}
                                {% assign loopindex = forloop.index0 | plus: col %}
                                {% assign length = forloop.length | plus: col %}
                                {% assign endloopindex = length | minus: forloop.index %}
                                {% if last %}
                                    <div class="banner-chart" style="border-left: 20px solid {{ data.charts.milestone.data.colors[endloopindex] }};">
                                        <p class="banner-chart-header">{{ item.title }} - {{ data.charts.milestone.data.values[endloopindex] }}%</p>
                                        <p class="banner-chart-text">{{ item.description }}</p>
                                    </div>
                                {% else %}
                                    <div class="banner-chart" style="border-left: 20px solid {{ data.charts.milestone.data.colors[loopindex] }};">
                                        <p class="banner-chart-header">{{ item.title }} - {{ data.charts.milestone.data.values[loopindex] }}%</p>
                                        <p class="banner-chart-text">{{ item.description }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row equal" style="margin-top:56px;">
          <div class="col-sm-5 no-padding">
            <div class="section-heading">
              <h2>
                  {{ data.charts.power.title }}
              </h2>
            </div>
            <div class="section-content">
                {% for item in data.charts.power.description %}
                    <p>{{ item.p }}</p>
                {% endfor %}
            </div>
          </div>
            <div class="col-sm-4 col-sm-offset-1">
              <div class="pie-holder pie-v-center">
                <chart-pie
                    data-label="{{ data.charts.power.label }}"
                    data-colors="{{ data.charts.power.data.colors | array_to_sentence_string }}"
                    data-bgc="{{ data.charts.power.data.bgc | array_to_sentence_string }}"
                    data-values="{{ data.charts.power.data.values | array_to_sentence_string }}"/>
              </div>
            </div>
            <div class="col-sm-2 center-vertical">
              <div class="banner-charts banner-small">
                {% for item in data.charts.power.data.labels %}
                    <div class="banner-chart" style="border-left: 20px solid {{ data.charts.power.data.colors[forloop.index0] }};">
                        <p class="banner-chart-text">{{ item }} - {{ data.charts.power.data.values[forloop.index0] }}%</p>
                    </div>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="content-white section section-small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 no-padding">
                  <div class="section-heading section-heading-big">
                    <h2>
                      {{ data.moreDetails.title }}
                    </h2>
                  </div>
                </div>
                <div class="col-sm-3">
                    <a class="button-base ico-cta" href="{{ site.baseUrl }}/files/acebusters_whitepaper.pdf" target="_blank">
                        {{ buttons.readWhitepaper }}
                    </a>
                </div>
                <div class="col-sm-3">
                    {% include appLink.html text='playPoker' class='button-base ico-cta' target='_blank' %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
