---
layout: default
---
<script src="js/vue.min.js"></script>
<script src="js/timer.js"></script>

<div class="intro-header" id="ico-app">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ico-box">
                    <h2 class="headline-dark-bg">Acebusters Power Event #1</h2>
                    <p class="power-event-descr">
                        lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ico-box">
                    <div>
                        <timer deadline="August 22, 2022"></timer>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box">
                    <loading-bar></loading-bar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box">
                    <div class="row">
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Event Terms</h2>
                            <a class="primary btn btn-download" href="" target="_blank">Download PDF</a> 
                        </div>
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Economy Paper</h2>
                            <a class="primary btn btn-download" href="" target="_blank">Download PDF</a> 
                        </div>
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Technical Paper</h2>
                            <a class="primary btn btn-download" href="" target="_blank">Download PDF</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box">
                    <h2 class="headline-dark-bg">Instructions</h2>
                    <div class="ico-content">       
                        <h2>1. Create Account</h2>
                        <h2>2. Unblock Account</h2>
                        <h2>3. Deposit Eth</h2>
                        <h2>4. Purchase</h2>
                        <h2>5. Wait till after Power Event</h2>
                        <h2>6. Power Up</h2>
                        <h2>7. Have a warm and fuzzy feeling</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box">
                    <h2 class="headline-dark-bg">Event FAQ</h2>
                    <div class="ico-content">
                        <h2 role="button" data-toggle="collapse" href="#faq1" aria-expanded="false" aria-controls="faq1" class="faq-header">What are the benefits over a traditional poker platform?</h2>
                        <div class="collapse" id="faq1">
                            <p class="lead">
                                Users control their bankroll using a wallet on the Ethereum blockchain. Smart contracts secure the stakes at the tables. Therefore no counterparty risk exists and events comparable to "Black Friday" become impossible.
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq2" aria-expanded="false" aria-controls="faq2" class="faq-header">How much is the rake?</h2>
                        <div class="collapse" id="faq2">
                            <p class="lead">
                                The exact amount of the rake will be determined during the beta phase. The rake will be used exclusively to cover blockchain transaction fees. The remaining amount will be redistributed instantly to the affiliates. Hence the rake will be much lower than on any traditional platform.
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq3" aria-expanded="false" aria-controls="faq3" class="faq-header">Who can be an affiliate?</h2>
                        <div class="collapse" id="faq3">
                            <p class="lead">
                                Anyone can be an affiliate. Once signed up, you will get a referral code which can be used to refer friends and peers. The referrer will earn the lion's share of the referee's rake.
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq5" aria-expanded="false" aria-controls="faq5" class="faq-header">What is Mental Poker?</h2>
                        <div class="collapse" id="faq5">
                            <p class="lead">
                                The Mental Poker Protocol is a technology which allows players in a peer-to-peer network a guaranteed fairly shuffled game as well as the certainty that no one can peek at your cards. Remember the UltimateBet super user scandal? This is a thing of the past. 
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq6" aria-expanded="false" aria-controls="faq6" class="faq-header">What are the next steps?</h2>
                        <div class="collapse" id="faq6">
                            <p class="lead">
                                We have developed a prototype to showcase that our vision is technically feasible today. We are using payment channels for the real-time interactions at the table. Our next goal is the <a href="https://en.wikipedia.org/wiki/Mental_poker">Mental Poker</a> protocol implementation as well as different game types like SNGS, MTT, Pot Limit Omaha etc.
                                <br>
                                For next steps please also take a look at our <a href="/#timeline">timeline</a>.
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq9" aria-expanded="false" aria-controls="faq9" class="faq-header">I am intrigued. What do I do now with all my excitement?</h2>
                        <div class="collapse" id="faq9">
                            <p class="lead">
                                Please sign up for our newsletter so you won’t miss any important announcement. Also please join our community on <a href="https://discord.gg/7PesDTZ">Discord</a>. It's totally free and you can ask us anything you want and you will also be updated on all the important topics regarding this venture! 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



