---
layout: default
---
<script src="js/web3.js"></script>

<script src="js/vue.min.js"></script>
<script src="https://unpkg.com/vue-chartjs@2.6.0/dist/vue-chartjs.full.min.js"></script>
<script src="js/timer.js"></script>

<div class="intro-header" id="ico-app">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ico-box center ico-header">
                    <h2 class="headline-dark-bg">Acebusters ICO #1</h2>
                    <p class="power-event-descr">
                        Acebusters is a decentralized poker platform, running on the Ethereum blockchain. 
                        We are thriving to make online poker more secure by building a community that has full
                        control over the platform itself. 
                        We have created our own Token NTZ which you can purchase for ether during our upcoming ICO.
                        Nutz can be used to play at the tables and act as a tool of value transfer. After the ICO, particpants can
                        convert their Nutz to Power. Power gives you the opportunity to activly take part in the community by voting on
                        future policies which are proposed by a governing council. If you want to know more about the structure of the ICO,
                        please read this <a href="files/The Acebusters Economy.pdf">paper</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ico-box center ico-header">
                    <div>
                        <timer />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box">
                    <h2 class="headline-dark-bg center">ICO Paramters</h2>
                    <loading-bar></loading-bar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box center">
                    <div class="row">
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Event Terms</h2>
                            <a class="primary btn btn-download" href="files/Acebusters_ICO.pdf" target="_blank">Download PDF</a> 
                        </div>
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Economy Paper</h2>
                            <a class="primary btn btn-download" href="files/The Acebusters Economy.pdf" target="_blank">Download PDF</a> 
                        </div>
                        <div class="col-md-4">  
                            <h2 class="headline-dark-bg">Technical Paper</h2>
                            <a class="primary btn btn-download" href="files/Acebusters_State_Channels.pdf" target="_blank">Download PDF</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box center">
                    <h2 class="headline-dark-bg">Instructions</h2>
                    <div class="ico-content">       
                        <h2>1. Create Account</h2>
                        <h2>2. Unblock Account</h2>
                        <h2>3. Deposit Eth</h2>
                        <h2>4. Purchase</h2>
                        <h2>5. Wait till after ICO</h2>
                        <h2>6. Power Up</h2>
                        <h2>7. Have a warm and fuzzy feeling</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ico-box center">
                    <h2 class="headline-dark-bg">Event FAQ</h2>
                    <div class="ico-content">
                        <h2 role="button" data-toggle="collapse" href="#faq1" aria-expanded="false" aria-controls="faq1" class="faq-header">Why should I invest?</h2>
                        <div class="collapse" id="faq1">
                            <p class="lead">
                                Over the past year we have invested heavily in our product and build a fully functioning prototype that leverages
                                smart contracts to manage player funds. We have build a technology called multi party state channels. You can read the paper here.
                                
                                Furthermore, poker is an obvious application for Ethereum. The market, because it was hit by scams and scandles, offers a huge opportunity 
                                to actually apply blockchain technology to fix a broken system. 
                                Add to that an ethusiastic team of innvotors from both the blockchain and the poker world, who really want to make this happen, come and join us! 
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq2" aria-expanded="false" aria-controls="faq2" class="faq-header">What are Nutz?</h2>
                        <div class="collapse" id="faq2">
                            <p class="lead">
                                Nutz is a token we created which acts as a medium of exchange. Nutz are used to play at the tables.
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq3" aria-expanded="false" aria-controls="faq3" class="faq-header">What is Power?</h2>
                        <div class="collapse" id="faq3">
                            <p class="lead">
                                Nutz can be converted to power. Power represents your share of voting rights in the economy. 
                            </p>
                        </div>

                        <h2 role="button" data-toggle="collapse" href="#faq5" aria-expanded="false" aria-controls="faq5" class="faq-header">What do you need the money for?</h2>
                        <div class="collapse" id="faq5">
                            <p class="lead">
                                Our main focus will be to build a mental poker protocol which is feasable in the real world. This will be our main focus. We do realize that we need 
                                a big marketing budget in order to compete in this market. What is more valueable as a first step though, is building a tech that actually supports our claim
                                and brings real improvements and incentives for players to switch to our platform. Thats why as a first step most of budget will go into the development of 
                                our mental poker protocol. A p2p protocol that elimates the dealer counterparty. Our system is designed to potentially raise multiple rounds, with different focus
                                for the distribution. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



